<head>
  <title>Resend Confirmation Instructions</title>
</head>

<section class="container">
  <section class="row" style="justify-content:center;">
    <section class="text-center p-3" style="border:solid;border-radius:10px;border-color:black;">
<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, "Email:" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Resend confirmation instructions", :class => "button3" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
    </section>
  </section>
</section>
