<head>
  <title><%= @pet.name %> - <%= @post.caption %></title>
</head>

<section class="container">
  <section class="row" style="justify-content:center;">
    <section class="text-center p-3" style="border:solid;border-radius:10px;border-color:black;">

      <h1><%= @post.caption %></h1>
      <% if @pet.user_id == current_user.id %>
        <%= button_to 'Delete', post_path(@post), :method => :delete, class: "button1", data: {confirm: "Are you sure?"} %>
      <% else %>
        <% if current_user.likes.include? "#{@post.id}" %>
          <br><p><%= link_to image_tag('red.png'), post_unlike_path(@post), method: :post, :class => "like" %> <strong><%= @post.like %></strong></p>
        <% else %>
          <br><p><%= link_to image_tag('heart.png'), post_like_path(@post), method: :post, :class => "like" %> <strong><%= @post.like %></strong></p>
        <% end %>
      <% end %>
      <br>

      <% if @post.upload.attached? %>
        <%= image_tag @post.upload, height: 500 %>
      <% end %>

    </section>
  </section>
</section>
